body > table{
    width: 100%;
    
}

table{
    border-collapse:collapse;
}

table.list{
    width:100%;
}
td, th{
    border:1px solid #dddddd;
    text-align:left;
    padding:8px;

}
tr:nth-child(even),table.list thread>tr {
background-color: #dddddd;
}

input[type ="text"]{
    width: 100%;
    padding:12px 20px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px ;
    box-sizing:border-box;
}

input[type ="submit"]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

form div.action-button{
    text-align: right;


}
a{
    cursor: pointer;
    text-decoration: underline;
    color:#0000ee;
    margin-right:4px;
}
#fullnameValidationError{
    color: red;
    margin-left:5px;
}
#fullemailValidationError{
    color: red;
    margin-left:5px;
}
#phoneValidationError{
    color: red;
    margin-left:5px;
}
#ageValidationError{
    color: red;
    margin-left:5px;
}
#gendereValidationError{
    color: red;
    margin-left:5px;
}
#photoValidationError{
    color: red;
    margin-left:5px;
}
#addressValidationError{
    color: red;
    margin-left:5px;
}
.hide{
    display:none;
}